@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Red+Hat+Display:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}
::marker {
  color: transparent;
}

input:focus {
  border: 0;
  outline: transparent;
}
body {
  margin: 0;
  font-family: "Eb Garamond ", sans-serif;
  animation: nav-item 0.3s 0.1s cubic-bezier(0.575, 0.005, 0.285, 1.005)
    forwards;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
  width: 100%;
}

/* navbar starts */
.side-bar {
  width: 15%;
}
.logo {
  text-align: center;
}
.logo span {
  width: 100%;
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  position: relative;
  top: 76px;
  z-index: 100;
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
  color: white;
}

.logo > img {
  margin: auto;
  width: 90%;
  opacity: 0;
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
  height: auto;
  display: flex;
}

.main {
  overflow: scroll;
  width: 85%;
}

.nav-items {
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  animation: nav-item 1s 0.9s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
  margin-top: 3em;
}

.nav-item {
  padding: 9px 0 9px 0;
  text-align: center;
  width: 100%;
  font-family: "EB Garamond", serif;
  transition: background-color ease-in-out 0.1s;
  font-size: 18px;
}

.nav-item:hover {
  background-color: #d0d0d052;
}

.nav-item:hover + .hr {
  width: 4em;
}

.hr {
  width: 2em;
  background-color: #c4a159;
  height: 0.8px;
  animation: nav-item-hr 1s 0.9s cubic-bezier(0.575, 0.005, 0.285, 1.005)
    forwards;
  transition: width cubic-bezier(0.575, 0.005, 0.285, 1.005) 0.4s;
}

.active {
  color: #c4a159;
}
.top-bar {
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.contact {
  font-size: 15px;
  padding-top: 5px;
  font-family: "Red Hat Display", sans-serif;
}
.contact span {
  padding-bottom: 5px;
}
.contact-bottom-border {
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  transition: all cubic-bezier(0.575, 0.005, 0.285, 1.005) 0.7s;
  margin-top: 1px;
  background-color: #c4a159;
}
.contact:hover .contact-bottom-border {
  transform: scaleX(1);
}
/* book now button */
.booknow-button {
  border: 0px solid black;
  background: white;
  padding: 7px 18px;
  margin-left: 20px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
}

.button-overlay {
  position: absolute;
  margin-left: 20px;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  flex-direction: column;
  width: 116px;
  height: 33px;
}
.border-top-bottom {
  /*width should become 0 on hover*/
  background-color: black;
  transition: width 750ms cubic-bezier(0.575, 0.005, 0.285, 1.005),
    opacity 750ms cubic-bezier(0.575, 0.005, 0.285, 1.005);
  width: 100%;
  height: 0.7px;
}
.booknow-button-border-middle {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.booknow-button-border-middle > div {
  /*height should become 0 on hover*/
  height: 100%;
  transition: height 750ms cubic-bezier(0.575, 0.005, 0.285, 1.005),
    opacity 750ms cubic-bezier(0.575, 0.005, 0.285, 1.005);
  width: 1px;
  background-color: black;
}
.booknow-button-right-bar {
  width: 0.7px !important;
}
.booknow-button-left-bar {
  align-self: flex-end;
}
.booknow-button-bottom-bar {
  align-self: flex-end;
}
.button-overlay:hover .booknow-button-border-middle > div {
  height: 0;
}
.button-overlay:hover .border-top-bottom {
  width: 0;
}

@keyframes nav-item {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes nav-item-hr {
  0% {
    transform: scaleX(3);
  }
  100% {
    transform: scaleX(0.7);
  }
}
@keyframes nav-item-hr-hover {
  0% {
    width: 2em;
  }
  100% {
    width: 4em;
  }
}
@keyframes side-bar {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes logo {
  0% {
    opacity: 0%;
    transform: translateX(-30px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
/* navbar ends  */

/* main  page*/
.hero-image {
  opacity: 0;
  animation: hero-image 3s 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  margin-bottom: 70px;
  font-family: "Great Vibes", cursive;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
}
.hero-image div {
  position: relative;
  color: white;
  font-weight: 100;
  font-size: 35px;
  font-style: italic;
  border-bottom: 0px solid white;
  animation: hero-div 2s 1.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  top: -71%;
  left: 5%;
  opacity: 0;
  overflow: hidden;
  height: 1.3em;
  transform: scaleY(1.3);
  width: 10em;
  /* height: 0em; */
}
.hero-image:hover {
  transform: perspective(800px) rotateY(1deg) rotateX(0deg) scale(1);
  filter: blur(0);
  opacity: 1;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes hero-image {
  0% {
    height: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    height: 93%;
  }
}
@keyframes hero-div {
  0% {
    /* height: 0em; */
    opacity: 0;
    border-bottom: 1px solid white;
  }
  100% {
    opacity: 1;
    /* height: 1.3em; */
    border-bottom: 1px solid white;
  }
}

.main::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
  width: 3px;
}

.main::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.767);
}

.main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* about */

.moto {
  text-align: right;
}
.about {
  position: static;
  margin-top: -5em;
}
.txt,
.moto {
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
  font-family: "Nanum Myeongjo", cursive;
  padding-right: 1.5vw;
  font-size: 1.9em;
  position: relative;
  font-family: "Great Vibes";
  color: black;
  opacity: 100%;
  padding-left: 1.5vw;
}

.about-header {
  font-family: "Nanum Myeongjo", Arial;
  position: relative;
  bottom: -8vh;
  opacity: 0.4;
  transition: all 0.7s cubic-bezier(0.18, 0.9, 0.24, 0.91);
  color: #c4a159;
  font-size: 6.7em;
}
.para1 {
  display: flex;
  padding-bottom: 10vh;
  padding-left: 4vw;
}
.para1-side-bar {
  height: 112px;
  width: 3px;
  background: #c4a159;
}

.para2 {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 4vh;
  padding-right: 4vw;
}
.para2-side-bar {
  height: 112px;
  width: 3px;
  background: #c4a159;
}
.about-container:hover .about-header {
  letter-spacing: 0.2em;
}
.about-container {
  margin-top: 6em;
  opacity: 0;
  animation: nav-item 1s 2s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
}
@keyframes about {
  0% {
    transform: skewX(0deg);
  }
  100% {
  }
}
#left {
  width: 37em;
  position: relative;
  /* bottom: -26vh; */
  opacity: 0.3;
  /* left: -5vw; */
}
.left {
  margin-bottom: -12.5em;
  margin-left: -6.7em;
}
.cls-1 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 0.39);
  stroke-width: 0.5px;
  stroke-dashoffset: 430;
  stroke-dasharray: 430;
  transition: stroke-dashoffset ease-in-out 2s;
}
.about-container:hover .cls-1 {
  stroke-dashoffset: 0;
}
/* about ends  */
/* carousel starts*/
/* left svg anim  */

.right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -16.5em;
  margin-right: -5.8em;
}
#right {
  position: relative;
  /* right: -48vw; */
  opacity: 0.3;
  width: 40em;
  /* top: -31vh; */
}
.car-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-container:hover .cls-2 {
  stroke-dashoffset: 0;
}

.cls-2 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 0.39);
  stroke-width: 0.5px;
  stroke-dashoffset: 450;
  stroke-dasharray: 450;
  transition: stroke-dashoffset ease-in-out 2s;
}
.car {
  max-width: 26.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  padding-bottom: 15vh;
  font-family: "Lato", sans-serif;
  margin-right: 0;
  height: 45em;
}

.overlapping-text-welcome,
.bod {
  text-align: center;
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005);
  color: black;
  font-family: "Playball", cursive;
  margin-top: 0;
}
.overlapping-text-welcome {
  font-size: 6.7em;
  opacity: 0.4;
  top: 7vh;
  transition: all 0.7s cubic-bezier(0.18, 0.9, 0.24, 0.91);
  left: -25vw;
  margin-bottom: 0vw;
  font-family: "Nanum Myeongjo", serif;
  position: relative;
  z-index: 1;
  color: #c4a159;
  text-decoration: none;
}
.car-container:hover .overlapping-text-welcome {
  letter-spacing: 0.2em;
}
.bod {
  text-decoration: none;
  font-size: 0.8em;
}
.bod a {
  color: black;
  font-size: 2em;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  z-index: -1;
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -20vh;
  left: -30vw;
  padding-bottom: 10vh;
  height: 43em;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(4) {
  background: url("https://www.bellevue.it/style/images/index/slider3.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel__slide:nth-child(1) {
  background: url("https://www.bellevue.it/style/images/index/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel__slide:nth-child(2) {
  background: url("https://www.bellevue.it/style/images/index/slider2.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel__slide:nth-child(3) {
  background: url("https://images.ctfassets.net/rxqefefl3t5b/ioW4df51t0MH0QkzkUFlt/b9dfec26b1ed936700d091de70c89a06/crop-200203_Virgin_Dallas__1151_hero-Recovered.jpg?fl=progressive&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
.circle {
  transform: rotate(-90deg) scaleY(1);
  fill: transparent;
  stroke: goldenrod;
}
.circle circle {
  stroke-dasharray: 1256;
  fill: #e5c06317;
  animation: circle 4s 3s ease-in-out alternate infinite;
}
.car-timer {
  width: 33.5%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.car-timer-text {
  text-align: center;
  position: relative;
  font-size: 2em;
  font-family: "Great Vibes", cursive;
  top: 9em;
  width: 80%;
}
@keyframes circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1256;
  }
}
@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 0;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: none;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
li::before {
  color: transparent !important;
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
/* carousel ends  */
/* donate form  */
.donate {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  margin-top: 5em;
  padding-bottom: 5vh;
  height: 85vh;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  background-image: url("../images/nature3.jpg");
  margin-bottom: 2em;
}
.donate-header {
  width: 26em;
  z-index: 1;
  height: 16em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -5em;
  background: #4dabc0f5;
}
.donate-header div {
  color: white;
  font-size: 4em;
  font-family: "Great Vibes", cursive;
  margin-left: -1em;
  opacity: 0.9;
}
.overlapping-text-donate {
  font-size: 6.7em;
  opacity: 0.4;
  top: 7vh;
  transition: all 0.7s cubic-bezier(0.18, 0.9, 0.24, 0.91);
  left: -25vw;
  margin-bottom: 0vw;
  font-family: "Nanum Myeongjo", serif;
  position: relative;
  z-index: 1;
  color: #c4a159;
  text-decoration: none;
}
.icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 5vh;
  width: 3vw;
}
.wom img {
  display: inline;
  padding-right: 5vw;
  padding-bottom: 25vw;
  float: left;
}
input[type="radio"] {
  margin: 0;
}
.r img {
  height: 5vh;
  width: 3vw;
}

.form {
  background-color: #cbe7ff;
  width: 61%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em 2em 2em 7em;
}

.input {
  display: flex;
  align-items: baseline;
  margin: 3em 0 2em 0;
}
input:focus + .input-border div {
  width: 100%;
}
input:focus ~ label {
  color: goldenrod;
}
.input label {
  width: 4em;
  color: #000000a1;
  font-size: 1.6em;
  padding: 0;
  font-family: "EB Garamond";
}
.input-box input {
  width: 100%;
  font-family: "EB Garamond";
  border: 0;
  background-color: #cbe7ff;
  padding: 0;
  font-size: 1.6em;
  color: #000000a1;
}
.input-box {
  width: 83%;
}
.input-box input::placeholder {
  color: #000000a1;
}
.input-border {
  height: 1.5px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.input-border div {
  height: 1.5px;
  background-color: #000000a1;
  width: 0%;
  transition: width cubic-bezier(0.575, 0.005, 0.285, 1.005) 0.5s;
}
.pay-now-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  font-family: "EB Garamond";
  align-items: center;
  margin-top: 5em;
}
.pay-now-button button {
  border: 0px solid black;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  border-radius: 2px;
  background: white;
  padding: 12px 18px;
  font-family: "EB Garamond";
  font-size: 18px;
}
.pay-now-button .button-overlay {
  width: 100%;
  top: -48px;
  height: 48px;
  position: relative;
  margin-left: 0;
}
/* donate form ends  */
/* footer starts  */
footer {
  text-align: center;
  background: #222f34;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-top: 5vh;
  padding-right: 5vw;
}
.contact-header {
  padding: 1px;
  text-decoration: underline;
  font-size: 2em;
  color: #c4a159;
  font-family: "EB Garamond", serif;
}
footer .contact-bottom-border {
  height: 1px;
}

.contact a {
  color: white;
  text-decoration: none;
}
.contact div {
  color: white;
  /* margin-bottom: 1.5vh; */
}
/* footer ends  */

@media (max-width: 1370px) {
  .logo span {
    font-size: 18px;
    top: 68px;
  }
  .form {
    padding-top: 2em;
  }
  .car-container {
    zoom: 0.94;
  }
  .about-container {
    zoom: 0.96;
  }
  .donate-header div {
    font-size: 3.4em;
  }
  .input label {
    font-size: 1.4em;
  }
  .car-timer-text {
    font-size: 1.9em;
    top: 9.5em;
  }
  .donate {
    height: 90vh;
  }
  .donate-header {
    width: 22em;
    height: 14em;
  }
  .input-border {
    height: 1.2px;
  }
}
@media (min-width: 1900px) {
  .form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .form {
    height: 90%;
  }
  .car-timer {
    width: 32%;
  }
  .car-timer-text {
    top: 9.4em;
  }
  .logo span {
    font-size: 24px;
    top: 95px;
  }
}
